.description
  %h3= t("users.info")
  %dl
    .clear
      %dt= t("site.common.users")
      %dd= @user_count
    .clear
      %dt= t("site.common.campaigns")
      %dd= @campaign_count
    .clear
      %dt= t("site.common.emails")
      %dd= @email_count
    .clear
      %dt= t("site.common.addresses")
      %dd= @address_count
    .clear
      %dt= t("site.emails.log_entry")
      %dd= @sended_count
