%article{id: @campaign.div}
  = render :partial => "campaign_details"
  #more_content
    %section{id: 'addresses'}
      %h2.tcenter= t("addresses.title")
      = render 'import'
      .tcenter
        = link_to( t("site.common.back").html_safe + image_tag("16/back.png"), campaign_addresses_path(@campaign))
        = " | "
        = link_to( t("site.common.import").html_safe + image_tag('16/import.png'), import_campaign_addresses_path(@campaign))
        = " | "
        = link_to( t("site.common.export").html_safe + image_tag('16/export'), export_campaign_addresses_path(@campaign))
