!!! 5
%html
  %head
    %title= "DistList"
    %meta{ :content => "Mass Mailer", :name => "description" }
    %meta{ :content => "Andrea Ranaldi", :name => "author" }
    %meta{ :content => "1 days", :name => "revisit-after" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body
    %header
      %h1
        = image_tag('mail.png')
        DistList
      #locale
        .flag.current= image_tag(['flag/',params[:locale].to_s,'.png'].join) if ['en','it','fr'].include?(params[:locale])
        .flag.locale= link_to image_tag('flag/en.png'), locale: "en"
        .flag.locale= link_to image_tag('flag/it.png'), locale: "it"
        .flag.locale= link_to image_tag('flag/fr.png'), locale: "fr"
      = render(:partial => "nav1")

    #content
      = content_tag(:div, notice, :class => "notice") unless notice.blank?
      = content_tag(:div, alert, :class => "alert") unless alert.blank?
      #section= yield

    %footer
      %p.tcenter
        Copyright 2012 Andrea Ranaldi

